NEXT_PUBLIC_SUPABASE_URL=https://snhsqbqrwlzylhpfplag.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNuaHNxYnFyd2x6eWxocGZwbGFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2OTcxMDIsImV4cCI6MjA5ODI3MzEwMn0.eZa7DA3s5m-ISU2DlSSyN8VogsU0283khF3o1idlSKs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNuaHNxYnFyd2x6eWxocGZwbGFnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjY5NzEwMiwiZXhwIjoyMDk4MjczMTAyfQ.jojJgSyyFtDmnr1dC1g5irIOep9fO_p3qsTmCXkN1b0
META_PHONE_NUMBER_ID=1212983998560486
META_WABA_ID=1290975499503114
META_ACCESS_TOKEN=EAAke2XQ5wqwBR8gLsqS9tswM1FFewwU43610aNmris40ekZA4BfKMZA7oZAsHk1gZB6XAz9ZCaC96gUPhNtXhdzAeDkmawCkZByop5oUSxW9RGtKJGK58SK24vzkz3kPnuA5LyZCW4J7Oj1ZAvaR4EgojJXTlZCkMXekP1l0oMqfvpZCle5rUpK7jwk2Spz5B7ZARTXOAZDZD
META_VERIFY_TOKEN=nikhil