NEXT_PUBLIC_SUPABASE_URL=https://nhfhbgzndwgykozacndp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5oZmhiZ3puZHdneWtvemFjbmRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1OTk3NDgsImV4cCI6MjA5NTE3NTc0OH0.skWVu3rCkXy3A6L80j8W3iFgQG2-z6hn_e2EI6h8UaI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5oZmhiZ3puZHdneWtvemFjbmRwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTU5OTc0OCwiZXhwIjoyMDk1MTc1NzQ4fQ.cxXkx-D7BAdg6UXVXwqHjNlYhKDYrfzuWA4RTEwGGcs
META_ACCESS_TOKEN=EAAOHmifYYnQBRnnfPQqfmFJZB6t5EbdZAEKzDYpSqFM5xqERjfZBoEZCH0K9vBYwLKTGkEK1SJXBZCMSseJcluhJ3IOMeEPym9jwxFuwwDQkK5BOx62GiSRvnbUCcqGZBSJMsBVO7IAtMwsNhnEtOV4tbZC4KgbZA4soveW1mfo7Lfs7aKNX437kdBjVXHluCPYdrwZDZD
META_PHONE_NUMBER_ID=1013584041845311
META_WABA_ID=1266639405629625
META_VERIFY_TOKEN=Bharat
